1-paper.aux
1-paper.bbl
1-paper.blg
1-paper.fdb_latexmk
1-paper.fls
1-paper.log
1-paper.nlo
1-paper.nls
1-paper.out
1-paper.pdf
1-paper.synctex.gz
1-paper.spl
1-paper.synctex-DELL-12.gz

/PPT/*.ppt.aux
/PPT/*.ppt.fdb_latexmk
/PPT/*.ppt.fls
/PPT/*.ppt.log
/PPT/*.ppt.nav
/PPT/*.ppt.out
/PPT/*.ppt.pdf
/PPT/*.ppt.snm
/PPT/*.ppt.synctex.gz
/PPT/*.ppt.toc

Qualification.aux
Qualification.bbl
Qualification.blg
Qualification.fdb_latexmk
Qualification.fls
Qualification.log
Qualification.nlo
Qualification.out
Qualification.pdf
Qualification.spl
Qualification.synctex.gz